@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fc0055;
  --color-secondary: #FFE472;
}

html, body, :root {
  height: 100%;
  background: #ffffff;
}

body {
  font-family: 'Poppins', 'Urbanist', ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
}

/* Utilitário mobile navbar spacing */
.main-content {
  padding-bottom: 4.5rem; /* espaço para navbar inferior fixa */
}

/* Utilitários line-clamp */
@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
